/* Ajustes Generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color:black;
    --secundary-color:white;
    --third-color:#00e4c0;
    --background-color: #26282a;
    --background-color-body:#f2f2f2;
    --color-border-box:#ec008c;
    --spacing: 25px;
    --spacing-menor: 15px;
    --spacing-major: 50px;
}

body {
    background-color: var(--background-color-body);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Header */

header {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
}

header a {
    color: var(--secundary-color);
}


/* Header NAV1 */

header > .navegador1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 80px;
}

header > section > div > .foto_cabecera {
    width: 150px;
    height: 100%;
    object-fit: center;
    object-position: center;
}

header > section > div.busqueda {
    width: auto;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    border-radius: 20px;
    padding: 0 10px;
    background-color: var(--background-color-body);
}

header > section > div.busqueda > input {
    width: 700px;
    min-width: 100px;
    height: 45px;
    border-radius:20px;
    background-color: var(--background-color-body);
    outline: none;
    border: var(--background-color-body);
    font-size: 15px;
}

header > section > div.busqueda > img {
    width: 30px;
    object-fit: cover;
}

header > section > div.iconos {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

header > section > div.iconos > a > img {
    width: 25px;
    height: 100%;
    object-fit: center;
}


/* Header NAV2 */

header > .navegador2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 50px;
}

header > .navegador2 > div.todo_nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing)
}

header > .navegador2 > div.todo_nav2 > p {
    color: var(--secundary-color);
}

header > section.navegador2 > div > img.lista {
    width: 25px;
    object-fit: cover;
}


/* Nav 2 List 1 */

header > section.navegador2 > nav.lista1_header > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing);
}


/* Nav 2 List 2 */

header > section.navegador2 > nav.lista2_header > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing);
}


/* Main */

main > section > a.anuncio_principal {
    display: flex;
    justify-content: center;
}

main > section > a > img.foto_principal {
    max-width: 100%;
}

main > .h2_principal {
    display:flex;
    justify-content: center;
    margin: 40px 0;
}

/* Main seccion primaria */

main > section.galeria_productos {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 1fr;
    gap: 80px;
    width: 87%;
    margin: 40px 0;
    
}

main > section > div.boton_ofertas {
    display: grid;
    justify-content: end;
    align-items: start;
    grid-template-rows: repeat(2, 20px);
    gap: 30px;
    font-size: 17px;
}

main > section > div.boton_ofertas > a {
    max-width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid var(--third-color);
    font-size: 15px;
    text-align: center;
    padding: 12px;
    color: var(--background-color);
}

main > section > div.boton_ofertas > a:hover {
    background-color: rgb(183, 179, 179);
}


main > section > section.lista_productos {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 20px;
}

main > section > section.lista_productos > div.producto {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100%;
    background-color: var(--secundary-color) ; 
    border-radius: 5px;   
}

main > section > section.lista_productos > div.producto:hover {
    box-shadow: 0 0 2px 2px var(--background-color);
}

main > section > section.lista_productos > div.producto > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-menor);
}

main > section > section.lista_productos > div.producto > a > p {
    font-size: 15px;
    color: var(--primary-color);
}

main > section > section.lista_productos > div.producto > a > p > span {
    font-size: 30px;
}


/* Main, seccion secundaria */

main > section.seccion_secundaria {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: var(--spacing-major);
    margin: 2% 12%;
    gap: var(--spacing-major);
    background-color: var(--secundary-color) ;
    border-top: solid 10px var(--color-border-box);
    font-size:20px;
}

main > section.seccion_secundaria > section.productos_secundarios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
}


/* Main destacados */

main > section.destacados {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-major);
    background-color: var(--secundary-color);
    margin: 2% 12%;
    padding: 50px;
}

main > section.destacados > section.productos_destacados {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-major);
    flex-wrap: wrap;
    text-align: center;
}

main > section.destacados > section.productos_destacados > a {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

main > section.destacados > section.productos_destacados > div.destacado > a > img.imagen_destacado {
    transition: 0.4s ;
}

main > section.destacados > section.productos_destacados > div.destacado > a > img.imagen_destacado:hover {
    transform: scale(1.1);
}

/* footer */

footer {
    /* border: red solid 2px; */
    display:grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    gap: var(--spacing-major);
    padding: var(--spacing-major);
    background-color: var(--background-color);
    color: white;
}

/* footer seccion condiciones */

footer > section.nav_footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

footer > section.nav_footer > div.generales {
    width: 250px;
}

footer > section.nav_footer > div.generales > p {
    padding: 10px 0;
}

footer > section.nav_footer > div.generales > ul > a > li{
    color: rgb(183, 179, 179);
    padding: 2px 0;
    font-size: 15px;
}

footer > section.nav_footer > div.generales > ul > a > li:hover {
    color: var(--background-color-body);
    text-decoration: underline;
}

/* footer redes sociales */

footer > section.red_social_footer > p {
    padding: 10px 0;
}


footer > section.red_social_footer > div.redes_sociales > a > img {
    width: 40px;
    object-fit: cover;
    object-position: center;
}












