/* Ajustes Generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color:black;
    --secundary-color:white;
    --background-color: #26282a;
    --background-color-body:#f2f2f2;
    --color-border-box:#ec008c;
    --spacing:25px;
}

body {
    background-color: var(--background-color-body);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Header */

header {
    padding: 0 30px;
    background-color: var(--background-color);
}

header a {
    color: var(--secundary-color);
}


/* Header NAV1 */

header > .navegador1 {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: var(--spacing);
    padding: 20px;
    flex-wrap: wrap;
}

header > section > div > .foto_cabecera {
    width: 150px;
    height: 100%;
    object-fit: center;
}

header > section > div.busqueda {
    width: 900px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    border-radius: 20px;
    padding: 0 10px;
    background-color: var(--background-color-body);
}

header > section > div.busqueda > input {
    width: 900px;
    height: 45px;
    border-radius:20px;
    background-color: var(--background-color-body);
    outline: none;
    border: var(--background-color-body);
    font-size: 15px;
}

header > section > div.busqueda > img {
    width: 30px;
    object-fit: cover;
}

header > section > div.iconos {
    display: flex;
    gap: 20px;
}

header > section > div.iconos > img {
    width: 30px;
    height: 100%;
    object-fit: center;
}

/* Header NAV2 */

header > .navegador2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing);
    height: 50px;
}

header > .navegador2 > div.todo {
    display: flex;
    align-items: center;
    gap: var(--spacing)
}

header > .navegador2 > div.todo > p {
    color: var(--secundary-color);
}

header > section.navegador2 > div > img.lista {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

/* Nav 2 List 1 */

header > section.navegador2 > nav.lista1_header > ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--spacing);
}

/* Nav 2 List 2 */

header > section.navegador2 > nav.lista2_header > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing);
}


/* Main */

